templates/general/Output_From_Data_Flow/Output_From_Data_Flow.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureBlobStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Output_From_Data_Flow')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"TaxiAggregateCachedSink","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"TaxiAggregateCachedSink","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"None","cacheSinks":{"firstRowOnly":true}}},{"name":"Set variable1","type":"SetVariable","dependsOn":[{"activity":"TaxiAggregateCachedSink","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"sum_fares","value":{"value":"@string(activity('TaxiAggregateCachedSink').output.runStatus.output.sink1.value[0].sum_fares)","type":"Expression"}}},{"name":"Set variable2","type":"SetVariable","dependsOn":[{"activity":"Set variable1","dependencyConditions":["Succeeded"]}],"userProperties":[],"typeProperties":{"variableName":"VendorID","value":{"value":"@string(activity('TaxiAggregateCachedSink').output.runStatus.output.sink1.value[0].VendorID)","type":"Expression"}}}],"variables":{"sum_fares":{"type":"String"},"VendorID":{"type":"String"}},"annotations":[]},"dependsOn":["[concat(variables('factoryId'), '/dataflows/TaxiAggregateCachedSink')]"]},{"name":"[concat(parameters('factoryName'), '/TaxiAggregateCachedSink')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Taxi","type":"DatasetReference"},"name":"source1"}],"sinks":[{"name":"sink1"}],"transformations":[{"name":"Aggregate1"},{"name":"ModifyColumns1","description":"Autogenerated by data preview actions"},{"name":"Sort1"}],"script":"source(output(\n\t\tVendorID as string,\n\t\ttpep_pickup_datetime as string,\n\t\ttpep_dropoff_datetime as string,\n\t\tpassenger_count as string,\n\t\ttrip_distance as string,\n\t\tRatecodeID as string,\n\t\tstore_and_fwd_flag as string,\n\t\tPULocationID as string,\n\t\tDOLocationID as string,\n\t\tpayment_type as string,\n\t\tfare_amount as string,\n\t\textra as string,\n\t\tmta_tax as string,\n\t\ttip_amount as string,\n\t\ttolls_amount as string,\n\t\timprovement_surcharge as string,\n\t\ttotal_amount as string,\n\t\tcongestion_surcharge as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\twildcardPaths:['*']) ~> source1\nModifyColumns1 aggregate(groupBy(VendorID),\n\tsum_fares = sum(fare_amount)) ~> Aggregate1\nsource1 derive(fare_amount = toDecimal(fare_amount)) ~> ModifyColumns1\nAggregate1 sort(asc(sum_fares, true)) ~> Sort1\nSort1 sink(skipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tstore: 'cache',\n\tformat: 'inline',\n\toutput: true,\n\tsaveOrder: 1) ~> sink1"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Taxi')]"]},{"name":"[concat(parameters('factoryName'), '/Taxi')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureBlobStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobStorageLocation","container":"taxi"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"VendorID","type":"String"},{"name":"tpep_pickup_datetime","type":"String"},{"name":"tpep_dropoff_datetime","type":"String"},{"name":"passenger_count","type":"String"},{"name":"trip_distance","type":"String"},{"name":"RatecodeID","type":"String"},{"name":"store_and_fwd_flag","type":"String"},{"name":"PULocationID","type":"String"},{"name":"DOLocationID","type":"String"},{"name":"payment_type","type":"String"},{"name":"fare_amount","type":"String"},{"name":"extra","type":"String"},{"name":"mta_tax","type":"String"},{"name":"tip_amount","type":"String"},{"name":"tolls_amount","type":"String"},{"name":"improvement_surcharge","type":"String"},{"name":"total_amount","type":"String"},{"name":"congestion_surcharge","type":"String"}]},"dependsOn":[]}]}