templates/delta/Read_Write_Delta/Read_Write_Delta.json
{"$schema":"http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"factoryName":{"type":"string","metadata":"Data Factory name"},"AzureDataLakeStorage1":{"type":"string"}},"variables":{"factoryId":"[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"},"resources":[{"name":"[concat(parameters('factoryName'), '/Read_Write_Delta')]","type":"Microsoft.DataFactory/factories/pipelines","apiVersion":"2018-06-01","properties":{"activities":[{"name":"Write_Delta","type":"ExecuteDataFlow","dependsOn":[],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"Write_Delta","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"Write_Delta_Partitioned","type":"ExecuteDataFlow","dependsOn":[{"activity":"Write_Delta","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"Write_Delta_Partitioned","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"Write_Delta_Updated","type":"ExecuteDataFlow","dependsOn":[{"activity":"Write_Delta_Partitioned","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"Write_Delta_Updated","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}},{"name":"Read_Delta","type":"ExecuteDataFlow","dependsOn":[{"activity":"Write_Delta_Updated","dependencyConditions":["Succeeded"]}],"policy":{"timeout":"7.00:00:00","retry":0,"retryIntervalInSeconds":30,"secureOutput":false,"secureInput":false},"userProperties":[],"typeProperties":{"dataflow":{"referenceName":"Read_Delta","type":"DataFlowReference","parameters":{},"datasetParameters":{"source1":{},"sink1":{}}},"staging":{},"compute":{"coreCount":8,"computeType":"General"},"traceLevel":"Fine"}}],"annotations":[],"lastPublishTime":"2021-03-30T15:10:36Z"},"dependsOn":["[concat(variables('factoryId'), '/dataflows/Write_Delta')]","[concat(variables('factoryId'), '/dataflows/Write_Delta_Partitioned')]","[concat(variables('factoryId'), '/dataflows/Write_Delta_Updated')]","[concat(variables('factoryId'), '/dataflows/Read_Delta')]"]},{"name":"[concat(parameters('factoryName'), '/Write_Delta')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Taxi_Raw","type":"DatasetReference"},"name":"source1"}],"sinks":[{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"name":"sink1"}],"transformations":[],"script":"source(output(\n\t\tVendorID as string,\n\t\ttpep_pickup_datetime as string,\n\t\ttpep_dropoff_datetime as string,\n\t\tpassenger_count as string,\n\t\ttrip_distance as string,\n\t\tRatecodeID as string,\n\t\tstore_and_fwd_flag as string,\n\t\tPULocationID as string,\n\t\tDOLocationID as string,\n\t\tpayment_type as string,\n\t\tfare_amount as string,\n\t\textra as string,\n\t\tmta_tax as string,\n\t\ttip_amount as string,\n\t\ttolls_amount as string,\n\t\timprovement_surcharge as string,\n\t\ttotal_amount as string,\n\t\tcongestion_surcharge as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tcompressionType: 'snappy',\n\tcompressionLevel: 'Fastest',\n\tfileSystem: 'delta',\n\tfolderPath: 'delta_format',\n\toverwrite:true,\n\tmergeSchema: false,\n\tautoCompact: false,\n\toptimizedWrite: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Taxi_Raw')]"]},{"name":"[concat(parameters('factoryName'), '/Write_Delta_Partitioned')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Taxi_Raw","type":"DatasetReference"},"name":"source1"}],"sinks":[{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"name":"sink1"}],"transformations":[{"name":"MapPartitions"}],"script":"source(output(\n\t\tVendorID as string,\n\t\ttpep_pickup_datetime as string,\n\t\ttpep_dropoff_datetime as string,\n\t\tpassenger_count as string,\n\t\ttrip_distance as string,\n\t\tRatecodeID as string,\n\t\tstore_and_fwd_flag as string,\n\t\tPULocationID as string,\n\t\tDOLocationID as string,\n\t\tpayment_type as string,\n\t\tfare_amount as string,\n\t\textra as string,\n\t\tmta_tax as string,\n\t\ttip_amount as string,\n\t\ttolls_amount as string,\n\t\timprovement_surcharge as string,\n\t\ttotal_amount as string,\n\t\tcongestion_surcharge as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 derive(year = left(tpep_pickup_datetime,4),\n\t\tmonth = substring(tpep_pickup_datetime,6,2),\n\t\tday = substring(tpep_pickup_datetime,9,2)) ~> MapPartitions\nMapPartitions sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tcompressionType: 'snappy',\n\tcompressionLevel: 'Fastest',\n\tfileSystem: 'delta',\n\tfolderPath: 'delta_format_partitioned',\n\toverwrite:true,\n\tmergeSchema: false,\n\tautoCompact: false,\n\toptimizedWrite: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tpartitionBy('key',\n\t\t0,\n\t\tyear,\n\t\tmonth,\n\t\tday\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Taxi_Raw')]"]},{"name":"[concat(parameters('factoryName'), '/Write_Delta_Updated')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"dataset":{"referenceName":"Taxi_Raw","type":"DatasetReference"},"name":"source1"}],"sinks":[{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"name":"sink1"}],"transformations":[],"script":"source(output(\n\t\tVendorID as string,\n\t\ttpep_pickup_datetime as string,\n\t\ttpep_dropoff_datetime as string,\n\t\tpassenger_count as string,\n\t\ttrip_distance as string,\n\t\tRatecodeID as string,\n\t\tstore_and_fwd_flag as string,\n\t\tPULocationID as string,\n\t\tDOLocationID as string,\n\t\tpayment_type as string,\n\t\tfare_amount as string,\n\t\textra as string,\n\t\tmta_tax as string,\n\t\ttip_amount as string,\n\t\ttolls_amount as string,\n\t\timprovement_surcharge as string,\n\t\ttotal_amount as string,\n\t\tcongestion_surcharge as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tcompressionType: 'snappy',\n\tcompressionLevel: 'Fastest',\n\tfileSystem: 'delta',\n\tfolderPath: 'delta_format',\n\tmergeSchema: false,\n\tautoCompact: false,\n\toptimizedWrite: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"}},"dependsOn":["[concat(variables('factoryId'), '/datasets/Taxi_Raw')]"]},{"name":"[concat(parameters('factoryName'), '/Read_Delta')]","type":"Microsoft.DataFactory/factories/dataflows","apiVersion":"2018-06-01","properties":{"type":"MappingDataFlow","typeProperties":{"sources":[{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"name":"source1"}],"sinks":[{"linkedService":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"name":"sink1"}],"transformations":[],"script":"source(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tcompressionType: 'snappy',\n\tcompressionLevel: 'Fastest',\n\tversionAsOf: 1,\n\tfileSystem: 'delta',\n\tfolderPath: 'delta_format') ~> source1\nsource1 sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'delimited',\n\tfileSystem: 'delta',\n\tfolderPath: 'delimited',\n\tcolumnDelimiter: ',',\n\tescapeChar: '\\\\',\n\tqutoChar: '\\\"',\n\tcolumnNamesAsHeader: false,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"}},"dependsOn":[]},{"name":"[concat(parameters('factoryName'), '/Taxi_Raw')]","type":"Microsoft.DataFactory/factories/datasets","apiVersion":"2018-06-01","properties":{"linkedServiceName":{"referenceName":"[parameters('AzureDataLakeStorage1')]","type":"LinkedServiceReference"},"annotations":[],"type":"DelimitedText","typeProperties":{"location":{"type":"AzureBlobFSLocation","folderPath":"raw","fileSystem":"delta"},"columnDelimiter":",","escapeChar":"\\","firstRowAsHeader":true,"quoteChar":"\""},"schema":[{"name":"VendorID","type":"String"},{"name":"tpep_pickup_datetime","type":"String"},{"name":"tpep_dropoff_datetime","type":"String"},{"name":"passenger_count","type":"String"},{"name":"trip_distance","type":"String"},{"name":"RatecodeID","type":"String"},{"name":"store_and_fwd_flag","type":"String"},{"name":"PULocationID","type":"String"},{"name":"DOLocationID","type":"String"},{"name":"payment_type","type":"String"},{"name":"fare_amount","type":"String"},{"name":"extra","type":"String"},{"name":"mta_tax","type":"String"},{"name":"tip_amount","type":"String"},{"name":"tolls_amount","type":"String"},{"name":"improvement_surcharge","type":"String"},{"name":"total_amount","type":"String"},{"name":"congestion_surcharge","type":"String"}]},"dependsOn":[]}]}